.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form-row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}
.content {
  padding: 2rem;
  background-color: #6fa8dc 	;
}
.content-details {
  display: flex;
}
.caption {
  height: 70px;
  width: 100%;
  background-color: #00a0b0 	;
  padding: 1rem .5rem;
  position: relative;
}
.caption h4 {
  color: white;
  position: absolute;
  right: 0;
  left: 0;
}
.caption .btn {
  position: absolute;
  right: 2rem;
}
.logout-link {
  position: absolute;
  right: 10rem;
  background: none;
  border: none;
  text-decoration: underline;
  color: #fff;
}
.link-table {
  background: none;
  border: none;
  text-decoration: underline;
  color: #000000;
}
.card-body {
  display: flex;
  align-items: center;
}
.pirate-details {
  flex-grow: 1;
}
.btn-view {
  margin-right: 1rem;
}
.content-image {
  font-size: 25px;
  font-weight: bold;
}
.content-image img {
  max-width: 300px;
}
.content-details-title {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 1rem;
}
.box-details {
  width: 100%;
  margin-left: 1rem;
  border: 3px solid #000000;
  padding: 1rem;
}
.box-add-form {
  width: 100%;
  margin-left: 1rem;
  padding: 1rem;
  text-align: left;
  font-size: 20px;
}
.box-details-item {
  display: flex;
  padding: .5rem;
  font-size: 20px;
}
.box-details-item-label {
  width: 200px;
  text-align: left;
}
.box-details-item-text {
  flex-grow: 1;
  text-align: left;
}
.error-box {
  background-color: red;
  padding: 1rem;
  font-size: 20px;
  color: white;
}
.submitButton {
  width: 100%;
  text-align: left;
  margin-top: 2rem;
}
.form-group {
  margin: .5rem 0;
}
.btn {
  font-size: 20px;
}
.action-box div{
  margin-right: 5px;
}
.content-dashboard table:first-child{
  margin-right: 10px;
}
.card-view-details {
  padding: 1rem;
  border: 1px solid #ccc;
  margin: 1rem auto;
  width: fit-content;
}
.register-form {
  width: 500px;
  margin: 2rem auto;
}
.header-action-links {
  top: 20px;
  position: absolute;
  right: 0;
}
